footer{
	background-color:#e7e7e7;
	padding-top:50px;
	padding-bottom: 80px;
}
.footer-heading{
	margin-bottom:30px;
	font-weight: 600;
	color:black;
	font-size: 15px;
}
footer .newsletterButton{
	background-color: #000;
	color: white;
	border-radius: 23px;
	font-size: 15px;
	letter-spacing: 0px;
	height:45px;
	width:67%;

	letter-spacing: 0.6px;

}
footer .newsletterForm{
	border-top: none;
	background-color: transparent;
	border-left: none;
	border-right: none;
	padding: 15px 10px;
	border-bottom: 2px solid black;
	font-size: 15px;
	margin-bottom:10px;
}
.footer-list li{
	list-style-type: none;
	padding-bottom:8px;

}
footer p, li{
	font-size: 13px;
    color: #555555;
    line-height: 1.8;
}
footer ul{
	margin-left: -37px;
}
