<app-slider></app-slider>
<section class="section1 ci-section">
   <div class="ci-section-title">Featured Products</div>
   <div class="container">
      <div class="row">
         <div class="col-sm-5 col-md-6 col-lg-4 margin-bottom-25">
            <div class="block1 hov-img-zoom .pos-relative">
               <img src="../assets/images/sunglasses.jpeg">
               <div class="wrapbtn">
                  <a [routerLink]="['/mobiles']" class="overlay">
                  SUNGLASSES
                  </a>
               </div>
            </div>
         </div>
         <div class="col-sm-5 col-md-6 col-lg-4 margin-bottom-25">
            <div class="block1 hov-img-zoom .pos-relative">
                <img src="../assets/images/watches.jpeg">
               <div class="wrapbtn">
                  <a [routerLink]="['/mobiles']" class="overlay">
                  WATCHES
                  </a>
               </div>
            </div>
         </div>
         <div class="col-sm-5 col-md-6 col-lg-4 margin-bottom-25">
            <div class="block1 hov-img-zoom .pos-relative">
                <img src="../assets/images/bags.jpeg">
               <div class="wrapbtn">
                  <a [routerLink]="['/mobiles']" class="overlay">
                  BAGS
                  </a>
               </div>
            </div>
         </div>


      </div>
   </div>
</section>
<section class="section2 ci-section">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 margin-bottom-25">
              <div class="hov-img-zoom .pos-relative">
                  <img src="../assets/images/bold.jpeg">
                  <div class="overlay-text">
                    <span class="overlay-text-inner">THE BETTER LOOK</span>
                  </div>
              </div>

          </div>
          <div class="col-lg-6 col-md-6 margin-bottom-25">
            <div class="hov-img-zoom .pos-relative">
                <img src="../assets/images/better.jpeg">
                <div class="overlay-text">
                  <span class="overlay-text-inner">THE BOLD LOOK</span>
                </div>
            </div>

          </div>
      </div>
    </div>
</section>
<section class="section3 ci-section" >
    <div class="ci-section-title">OUR BLOG</div>
    <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom-25">
              <div class="hov-img-zoom">
                  <img src="../assets/images/blog1.jpg">
              </div>
              <div class="blog-text-block">
                <div>By <b>Krishna</b> on <b>18/02/18</b></div>
                  <h4>Black Friday Guide: Best Sales & Discount Codes</h4>
                  <p>Duis ut velit gravida nibh bibendum commodo. Sus-pendisse
                     pellentesque mattis augue id euismod. Inter-dum et malesuada fames</p>
                 </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom-25">
              <div class="hov-img-zoom">
                  <img src="../assets/images/blog2.jpeg">
              </div>
              <div class="blog-text-block">
                <div>By <b>Krishna</b> on <b>18/02/18</b></div>
                  <h4>Black Friday Guide: Best Sales & Discount Codes</h4>
                  <p>Duis ut velit gravida nibh bibendum commodo. Sus-pendisse
                     pellentesque mattis augue id euismod. Inter-dum et malesuada fames</p>
                 </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom-25">
              <div class="hov-img-zoom">
                  <img src="../assets/images/blog3.jpeg">
              </div>
              <div class="blog-text-block">
                <div>By <b>Krishna</b> on <b>18/02/18</b></div>
                  <h4>Black Friday Guide: Best Sales & Discount Codes</h4>
                  <p>Duis ut velit gravida nibh bibendum commodo. Sus-pendisse
                     pellentesque mattis augue id euismod. Inter-dum et malesuada fames</p>
                 </div>
          </div>
      </div>
    </div>


</section>
